{% extends 'gallery.html' %}

{% block content %}

<div class="container-fluid my-5">

    <div class="d-flex flex-col justify-content-center flex-wrap">

        {% for imageunit in imageunits %}



        <div class="card m-1 p-3">

            <div class="card-title">

                <p>
                    {{ imageunit.image_title }}
                    <br>
                    category: {{ imageunit.image_category }}
                    <br>
                    posted: {{ imageunit.image_uploaded_at }}
                </p>

            </div>

            <a href="{% url 'image_detail' imageunit.id %}">

                <div class="card-body">

                    <img src="{{ imageunit.image_field.url }}" alt="{{ imageunit.image_title }}" class="img-thumbnail"
                        height="200" width="200">


                </div>
            </a>

        </div>




        {% endfor %}

    </div>

</div>


{% endblock content %}